/*
 * Hamburger menu
 */
.hamburger-menu {
    display: none;
}
@media (max-width: 768px) {
  .standard-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
}

/*
 * Menu disposition
 */
.menu {
  padding: 10px;
  /* alignment */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}
.menu div:nth-child(1) {
  flex: 0 1 auto;
  align-self: center;
}
.menu div:nth-child(2) {
  flex: 1 1 auto;
  align-self: center;
}
.menu div:nth-child(3) {
  flex: 0 1 auto;
  align-self: center;
}

a.action-item {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 15px;
}
