<nav class="menu">
    <div>
        <a mat-menu-item routerLink="/"><img ngSrc="assets/icons/favicon_032.png" alt="Kissgal_Logo" height="32" width="32"/></a>
    </div>

    <div>
        <!-- Menu hamburger pour mobile -->
        <div class="hamburger-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/books" *kaHasRoles="['view-books']">My Books</a>
                <a mat-menu-item routerLink="/profile" *kaHasRoles="['view-profile']">My Profile</a>
                <a mat-menu-item href="#" *ngIf="!authenticated" (click)="login()">{{'Menu.Login'|translate}}</a>
                <a mat-menu-item href="#" *ngIf="authenticated" (click)="logout()">{{'Menu.Logout'|translate}}</a>
            </mat-menu>
        </div>
        <!-- Menu standard pour desktop -->
        <div class="standard-menu">
            <a routerLink="/books" class="action-item" *kaHasRoles="['view-books']">My Books</a>
            <a routerLink="/profile" class="action-item" *kaHasRoles="['view-profile']">My Profile</a>
            <a href="#" class="action-item" *ngIf="!authenticated" (click)="login()">{{'Menu.Login'|translate}}</a>
            <a href="#" class="action-item" *ngIf="authenticated" (click)="logout()">{{'Menu.Logout'|translate}}</a>
        </div>
    </div>

    <div>
        <button mat-icon-button class="action-item"  *ngIf="!authenticated" (click)="toggleLanguage()">
            <img ngSrc="assets/icons/{{ currentFlag }}" alt="{{ currentLanguage }}" height="18" width="24" />
        </button>
        <button mat-icon-button class="action-item" (click)="toggleDarkMode()">
            <mat-icon>{{ (isDarkMode$ | async) ? 'dark_mode' : 'light_mode' }}</mat-icon>
        </button>
    </div>
</nav>
