// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// https://material.angular.io/guide/system-variables
// https://material.angular.io/guide/theming-your-components
@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme((
          color: (
                  primary: mat.$violet-palette,
                  tertiary: mat.$orange-palette,
                  theme-type: light,
          ),
          typography: Roboto,
          density: -2
  ));
}

body.dark-mode {
  color-scheme: dark;
}
